@import url('https://fonts.googleapis.com/css2family=Ubuntu:ital@1&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
:root {
    /*---------------Theme Colors--------------*/
    --text-gray: #5C5F58;
    --text-light: #DCE1E3;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #591C0B;
    --blue-minded: #004E7C;
    --highlight:#B73225;

    /*gradient color*/
    --sky: linear-gradient(120deg,#a1c4fd 0%, #c2e9fb 100%);

}
/*------------------------------Global Classes--------------------------*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    height: 10vh;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
}

h2 {
    font-family: 'Lexend Deca', cursive;
}

h3 {
    font-family: 'Abel', sans-serif;
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-family: 'Livvic', sans-serif;
    cursor: pointer;
}
.services-grid {
    font-family: Arial, Helvetica, sans-serif;
 }
/*------------------X------------Global Classes--------------X------------*/

/*---------------Navbar-------------------------*/

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 87%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0.3rem;
}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 40rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family:  'Abel', cursive;
    font-size: 1.1rem;
    
}

.nav .nav-items .nav-link a{
    text-decoration:none;
    color:var(--midnight);
}
.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
    color:var(--white);
}

.nav .nav-items .nav-link:hover a{
    color:var(--white);
}
.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: 'Lexend Deca', cursive;
    font-size: 1.6rem;
    list-style:none;
}

.nav .social{
    padding: 1.4rem 0;

}
.nav .social i{
    padding: 0 0.2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}
/*--------X-------Navbar-------------X------------*/


/*--------------Banner Area---------------*/
 .banner-area {
    background: url(../1.jpg);
    background-size: cover;
    height: 110vh;
    display: flex;
}

 main .banner-area .site-title{
    padding: 15rem 5rem;
    color:var(--midnight);
    text-align: center;
}

main .site-title h1, h3 {
    margin: 1rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--sky);
}

main .site-title .btn:hover{
    background: transparent;
    border: 1px solid var(--midnight);
    color: var(--midnight);
}
main .about-header .about-area{
    padding: 1rem 2rem;
    color:var(--midnight);
    text-align: center;
}

main .about-area h1 {
    margin: 1rem;
}
main 

/* ACCORDION */


.accordion {
    background-color: var(--blue-minded);
    color: var(--white);
    cursor: pointer;
    padding: 18px;
    font-size:large;
    height:75px;
    width: 98%;
    border: none;
    outline: none;
    margin:10px;
    transition: 1.4s;
    text-align:center;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* .active, .accordion:hover {
    background-color: #ccc;
  }
   */
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    width:100%;
    padding: 0 18px;
    color:var(--bg-color);
    display: none;
    padding:10px;
    overflow: hidden;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .panel p{
    font-family: 'Ubuntu', sans-serif; /*ito copy mo*/
    font-weight:bold;
}  


.services-header{
    margin-bottom: 120px;
    width: 70%;
    text-align: center;
}

.services-header h1{
    text-align: center;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}

  .service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services-grid {
    justify-content: space-between;
    text-align: center;
    align-items:center;
}


  .column {
    width: 25%;
    padding-right: 100px;
    height:20vh;
    list-style-type: none;
  }
/* Remove extra left and right margins, due to padding in columns */

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  width: 300px; 
  height: 300px;
  text-transform:uppercase;
}

.card h1{
    text-transform:uppercase;
    color:var(--bg-color);  
}


  
/*--------X------Banner Area---------X------*/


/*                Viewport less than or equal to 750px                  */

@media only screen and (max-width: 750px) {

    
    .nav .nav-menu, .nav-items {
        flex-direction: column;
    }
   
    .nav .toggle-collapse {
        display: initial;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }
}



/*        X        Viewport less than or equal to 750px           X        */

